body{
    background-color: white;
}
 
.hero{
    text-align:center;
    background-color: #F9F7FE;
    padding: 160px 20px;
}

h1{
    font-family: "Playfair Display", serif;
    font-weight: bold;
    font-size: 96px;
}
.about-section{
   padding: 50px 20px; 
}
.about-section h1{
    font-size: 64px;
    line-height: 1;
}
.about-section-content{
    margin:30px;
}
h2{
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    font-size: 24px;
    color: #272142;
}
.about-section h2{
    font-size: 18px;
}


.hero-text{
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 36px;
}

.btn-branding{
    background-color: #6C63FF;
    color: white;
}

.project-text{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 18px;
}
 .container .project-title{
    font-family: "Playfair Display", serif;
    font-weight: bold;
    font-size: 64px;

}
.btn-branding-outline {
    color: #6C63FF;
    border: 1px solid #6C63FF;
}

@media (max-width: 1100px){
    .container .project-title{
       text-align: center;
       font-size: 40px;
    }
    
}
@media (max-width: 1000px){
    .hero h1{
        font-size: 40px;
    }
}

@media (max-width: 1200px){
 .about-section h1{
    font-size: 40px;
    line-height: 1;
}
}
@media (max-width: 1000px) {
    .about-section {
        padding: 0;
        text-align: center;
    }
}
 
   

