body{
    background-color: white;
}
 
.hero{
    text-align:center;
    background-color: #F9F7FE;
    padding: 160px 20px;
}
.about-me {
    font-size: 24px;
}
h1{
    font-family: "Playfair Display", serif;
    font-weight: bold;
    font-size: 96px;
}

.container-content{
   padding: 50px 20px; 
}
.container-content h1{
    font-size: 50px;
    line-height: 1;
}
.content{
    margin:30px;
}
h2{
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    font-size: 24px;
    color: #272142;
}
.container-content h2{
    font-size: 18px;
}
.container-content h3{
    font-size: 24px;
}

h4 {
  font-size: 48px;   
  font-family: "Playfair Display", serif;
}

.hero-text{
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 36px;
}

.btn-branding{
    background-color: #6C63FF;
    color: white;
}
.btn-branding:hover {
    color: #6C63FF;
    border: 1px solid #6C63FF;
}

.project-text{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 18px;
}
 .container .project-title{
    font-family: "Playfair Display", serif;
    font-weight: bold;
    font-size: 45px;

}
.btn-branding-outline {
    color: #6C63FF;
    border: 1px solid #6C63FF;
}
.logo{
    max-height: 40px;
}

nav{
    padding: 20px 0;
}
nav ul{
    padding: 0;
    margin: 0;
}

nav li{
    display: inline;
    list-style: none;
    line-height: 42px;
    margin-left: 15px;
}
nav a{
    text-decoration: none;
    color: #272142;
    transition: all 100ms ease-in-out;
}
nav a:hover, nav li.active a {
    color:  #6C63FF;
}

footer {
    margin: 60px 0;
}
footer .contact-box{
    background-color:  #F9F7FE;
    padding: 30px 120px;
    border-radius: 10px;
}

footer .contact-box p {
    margin: 0;
}
footer .email-link{
   font-size: 24px;
   text-decoration: none;
   color: black;
}
footer .email-link:hover{
    color:  #6C63FF;
}
footer .social-links a{
    margin: 0px 20px;
    color: #6C63FF;
    background: #F9F7FE;
    padding: 10px 14px;
    border-radius: 50%;
    font-size: 18px;
}
footer .social-links a:hover{
    color: white;
    background:#6C63FF;
}
@media (max-width: 1100px){
    .container .project-title{
       text-align: center;
       font-size: 35px;
       
    }
    
}
@media (max-width: 1000px){
    .hero h1{
        font-size: 40px;
    }
}

@media (max-width: 1200px){
 .container-content h1{
    font-size: 40px;
    line-height: 1;
}
}
@media (max-width: 1000px) {
    .container-content {
        padding: 0;
        text-align: center;
    }
}
 
   

