body{
    background-color: white;
}
 
.hero{
    text-align:center;
    background-color: #F9F7FE;
    padding: 150px 30px;
}

.hero h1{
    font-family: "Playfair Display", serif;
    font-weight: bold;
    font-size: 96px;
}
.hero h2{
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    font-size: 24px;
    color: #272142;
}

.hero-text{
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 36px;
}

.btn-branding{
    background-color: #6C63FF;
    color: white;
}
.btn-branding:hover{
     background-color: #6C63FF;
     color: white
}
.project-text{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 18px;
}
 .container h2{
    font-family: "Playfair Display", serif;
    font-weight: bold;
    font-size: 64px;

}
.btn-branding-outline {
    color: #6C63FF;
    border: 1px solid #6C63FF;
}

@media (max-width: 1100px){
    .container h2{
       text-align: center;
       font-size: 40px;
    }
    
}
@media (max-width: 1000px){
    .hero h1{
        font-size: 40px;
    }
}